[Unit]
Description=T.A.R.S File Integrity Monitoring
After=tars.service

[Service]
Type=oneshot
Environment=TARS_HOME=@TARS_HOME@
User=tars
Group=tars
WorkingDirectory=@TARS_HOME@
ExecStart=@TARS_HOME@/scripts/monitor-integrity.sh
StandardOutput=append:/var/log/tars-security.log
StandardError=append:/var/log/tars-security.log
