[Unit]
Description=T.A.R.S Memory Context Regen + Decay
After=tars.service

[Service]
Environment=TARS_HOME=@TARS_HOME@
Type=oneshot
User=tars
Group=tars
WorkingDirectory=@TARS_HOME@
ExecStart=@TARS_HOME@/scripts/memory-decay.sh
